{% autoescape off %}
Hello,

You're receiving this email because you requested a password reset for your TRHvision account.

Please click the link below to reset your password:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

This link will expire in 24 hours for security reasons.

If you didn't request this password reset, please ignore this email. Your password won't change until you access the
link above and create a new one.

Thanks,
The TRHvision Team
Support: support@trhvision.in
{% endautoescape %}